# Example file for user.cfg
# Overwrite this file with your data and rename it to user.cfg

[UserInfo]
Username = YourUserName
Password = YourPassword
# Id of the universe
Universe = UniverseId
Country = CountryId

[General]
# Default Mode that the bot will execute if there is no parameters
# Available modes:
#    overview - logs overview data
#    explore - send expeditions and attack nearby inactive players
#    attack_inactive_planets - attack nearby inactive players
#    auto_build_defenses - build defenses
#    auto_build_defenses_to_planet - build defenses to planet x(must be one of your planets)
#    transport_resources_to_planet - transport resources from all of your planets to planet x(must be one of your planets)
#    transport_resources_to_weaker_planet - transport resources from all of your planets to the planet that has less buldings
#    get_fleet_movement - Get movement of the fleet

DefaultMode = overview

# Default planet name
DefaultOriginPlanet = planetname

# LogLevel = INFO or DEBUG
LogLevel = INFO

# List of player planets separated by comma that the bot should ignore (e.g.: planet1, planet2)
ExcludedPlanets = colony

[Development]

#Build Fusion Reactor
FusionReactor = True

#Build Solar Plant Reactor
SolarPlant = False

#Build Storage
Storage = False

DefenseProportion = 120rl 100ll 30hl 10gc 10ic 5pt

# whether or not to expend excess metal on rocket launchers
SpendExcessMetalOnRL = True

[Transport]

# Transport Metal
TransportMetal = True

# Transport Crystal
TransportCrystal = True

# Transport Deuterium
TransportDeuterium = False

[Exploration]
# how much systems away the bot should be able to attack
AttackRange = 150

# wait 100 seconds for probes to return
HowLongToWaitForProbes = 100

# Life for valid reports (in minutes)
SpyReportLife = 30
# there may be strong inactive players which will be able to detect and destroy the probes
# the minimum target rank is the minimum rank the bot will spy, if you are confident that
# your spy tech is high enough to spy any inactive player set the value to 0
MinimumInactiveTargetRank = 140

# Set the maximum rank of your targets, low values for this variable can result on useless spy reports
MaximumInactiveTargetRank = 650

# delays for sending fleets

# Minimum time between sending next spy fleet
SpyFleetMinDelay = 1
# Maximum time between sending next spy fleet
SpyFleetMaxDelay = 3
# Minimum time between sending next attack
AttackFleetMinDelay = 5
# Maximum time between sending next attack
AttackFleetMaxDelay = 15
# Minimum time between sending next expedition
ExpeditionFleetMinDelay = 5
# Maximum time between sending next expedition
ExpeditionFleetMaxDelay = 10

# Amount of spy probes to send
SpyProbesCount = 5

# Min resources to send attack
MinResToSendAttack = 200000

# Range to launch expeditions
ExpeditionRange = 25


